/* You can add global styles to this file, and also import other style files */

.product-list {
  margin : 0;
  padding: 0;
  list-style-type: none;
}

.up > div:after {
  content:'<';
  width: 10px;
  height: 10px;
}

.down > div:after {
  content:'>';
  width: 10px;
  height: 10px;
}

.product {
  display: inline-block;
  list-style: none;
  margin : 0;
  padding: 30px;
  border : 1px solid #c0c0c0;
  border-radius: 15px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

.product-header {
  font-size: 20px;
}

.product-tags {
  display: flex;
  background: #ccc;
  border-radius: 15px;
  margin-top: 30px;
}

.product-tags > div {
  margin: 10px;
  font-size: 14px;
  color: red;
}

.product.promoted {
  border: 2px solid #ccc;
}

.product:hover {
  background : #c0c0c0;
}
